@media only screen and (min-width: 60em) {
    footer, article, .summary, .contact-info, .five-day {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
     .summary-text ul {
        font-size: 1.5em;
    }
    .summary-text h2 {
        font-size: 2.5em;
    }    
    
    /*Gallery*/
    .grid {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        box-shadow: 0px 3px 7px black;
    }

    label {
        /*display: inline;
        padding: 40px;
        margin-top: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #576163;*/
    }
    input {
        width: 50%;
    }
    /*Home Page*/
    .home-article img {
        position: relative;
        float: left;
        width: 35%;
        margin-right: 1em;
    }

    .home-cards {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }


}