@media only screen and (min-width: 32.5em) {
    nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex: 1 1 100%;
    }
    nav li {
        text-align: center;
        padding: 20px;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: flex;
        flex: 1 1 100%;
    }
    .five-day {
        display: block;
        background-color: white;
        box-shadow: 0px 3px 7px black;
        padding: 30px;
        margin: 30px;
    }
    nav li a{
        padding-left: 50px;
        padding-right: 50px;
    }
    .summary-text {
        display: block;
    }
   /* .summary-text ul {
        font-size: 1.5em;
    }
    .summary-text h2 {
        font-size: 2.5em;
    }*/

    /*5 Day Bar Styling*/
    .five-day-bar {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        align-content: center;
        justify-content: center;
    }
    .five-day-part img {
        width: 75px;
    }
    .five-day-part {
        text-align: center;
    }


    article {
        display: block;
    }
    .article-image {
        float: right;
        width: 400px;
        
    }
    .contact-info {
        display: block;
    }
    .map {
        float: left;
        width: 400px;
        margin-right: 100px;
    }
    .contact-list {
        margin-left: 40px;
    }

    /*Gallery*/
    .grid {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
    /*Home Page*/
    @media only screen and (max-width: 60em) {
        section:nth-of-type(odd) {
            display: grid;
            grid-template-columns: 1fr 2fr;
        }
        section:nth-of-type(even) {
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
        section:nth-of-type(even) img {
            grid-column: 2/3;
        }
        section:nth-of-type(even) .home-text {
            grid-column: 1/2;
        }
        .home-image {
            height: 100%;
        }
    }

}